:root {
    --primary-color: #ff8e16;
    --secondary-color: #222028;
    --menu-color: #cac8c8;
    --font-color: #fff;
    --bg-color: #222028;
    --bg-white: #fff;
    height: 100%;
    min-height: 100%;
}

/*  typography */
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700");
@font-face {
  font-family: 'BwNistaInt-xBd';
  src: url("../plugins/fonts/BwNistaInt-xBd.woff") format("woff");
  font-style: normal;
  font-display: swap;
}

main {
  background: var(--secondary-color);
  height: 100%;
}

body {
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: #4c4c4c;
  padding-top: 80px;
  background: var(--secondary-color);
}

header {
  padding: 10px 130px;
  background: var(--secondary-color);
  transition: top 0.1s ease-in-out;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  overflow: hidden;
}

p, .paragraph {
  font-weight: 400;
  color: #4c4c4c;
  font-size: 15px;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
}

p-lg, .paragraph-lg {
  font-size: 22px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Playfair Display", serif;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 80px;
}

.prin-logo {
  max-width: 160px;
}


h2, .h2 {
  font-size: 60px;
}


h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 22px;
}

h5, .h5 {
  font-size: 18px;
}

h6, .h6 {
  font-size: 14px;
}

.fw-light {
  font-weight: 200;
}

.fz-15 {
  font-size: 15px;
}

.fz-25 {
  font-size: 25px;
}

.fz-30 {
  font-size: 30px;
}

.fz-35 {
  font-size: 35px;
}

.fz-70 {
  font-size: 70px;
}

.fz-90 {
  font-size: 90px;
}

.fz-95 {
  font-size: 95px;
}



.icon-smile {
  margin-left: 25px;
}

/* Button style */
.btn {
  font-size: 22px;
  font-family: "Playfair Display", serif;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;
}

.btn:focus {
  outline: 0;
  box-shadow: none !important;
}

.btn:active {
  box-shadow: none;
}

.btn-sm {
  font-size: 15px;
  padding: 10px 30px;
}

.btn-xs {
  padding: 5px 10px;
  font-size: 15px;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
  font-family: "Roboto", sans-serif !important;
}

.btn-primary:active {
  background: #e6811b !important;
}

.btn-primary:hover {
  background: #e6811b;
}

.btn-primary.focus, .btn-primary.active {
  background: #e6811b !important;
  box-shadow: none !important;
}

.btn-transparent {
  background: transparent;
  color: #41228e;
  font-weight: bold;
}

.btn-transparent:active, .btn-transparent:hover {
  color: #41228e;
}

.nav-item a.btnComenzar {
    text-decoration: none;
    background: var(--primary-color);
    border-radius: 5px;
    margin-right: 20px;
    padding: 15px 33px !important;
    animation-duration: 1.2s;
    animation-name: animacionBtnComenzar;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

a.btnComenzar:hover {
  color: var(--secondary-color) !important;
}

@keyframes animacionBtnComenzar {
    0% {
        box-shadow: 0px 0px 0 0px transparent;
    }
    59% {
        box-shadow: 0px 0px 0 0px transparent;
    }
    60% {
        box-shadow: 0px 0px 0 0px var(--primary-color);
    }
    100% {
        box-shadow: 0px 0px 0 8px transparent;
    }
}


body {
  background-color: var(--secondary-color);
  overflow-x: hidden;
}

::-moz-selection {
  background: #ff8e16;
  color: #fff;
}

::selection {
  background: #ff8e16;
  color: #fff;
}

/* preloader */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

ol,
ul {
  list-style-type: none;
  margin: 0px;
}

img {
  vertical-align: middle;
  border: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a,
button,
select {
  cursor: pointer;
  transition: .2s ease;
  color: #fff;
}

a:focus,
button:focus,
select:focus {
  outline: 0;
}

a.text-dark:hover {
  color: var(--primary-color) !important;
}

a:hover {
  color: var(--primary-color);
}

.slick-slide {
  outline: 0;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  background: var(--bg-white) !important;
}

.section-title {
  margin-bottom: 80px;
  font-family: "BwNistaInt-xBd";
}

.bg-cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}



#portfolio-position {
  left: 0;
  right: 0;
  transform: translate(0, -25%);
}

#about-me {
  padding-top: 30%;
}

.opacity-1 {
  opacity: 0.3;
}


.opacity-2 {
  opacity: 0.2;
}

.title-portfolio {
  font-size: 35px;
  text-align: left;
  padding: 24px;
  top: 10%;
}

.title-section-about {
  font-family: "BwNistaInt-xBd";
}


/* overlay */
.overlay {
  position: relative;
}

.overlay::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: .5;
}

.outline-0 {
  outline: 0 !important;
}

.d-unset {
  display: unset !important;
}

.bg-primary {
  background: #222028 !important;
}

.bg-gray {
  background: #eaeaea !important;
}

.bg-pink {
  background: #ea4799;
}

.bg-cyan-light {
  background: #6ba5ff;
}

.bg-orange {
  background: #ff8300;
}

.bg-black {
  background: black;
}

.bg-dark {
  background-color: #222222 !important;
}

.bg-yellow-dark {
  background: #ff8300;
}

.bg-dark-grey {
  background: #2a2e33;
}

.bg-green {
  background: #00bf6e;
}

.bg-red {
  background: #ff0000c7;
}


.text-primary {
  color: #41228e !important;
}

.text-color {
  color: #4c4c4c;
}

.text-dark {
  color: #000 !important;
}

.text-light {
  color: #bfbebe !important
}

.text-yellow {
  color: var(--primary-color);
}

.text-grey {
  color: gray;
}

.fw-bold {
  font-family: "BwNistaInt-xBd";
}

.mb-10 {
  margin-bottom: 10px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-40 {
  margin-bottom: 40px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.mb-60 {
  margin-bottom: 60px !important;
}

.mb-70 {
  margin-bottom: 70px !important;
}

.mb-80 {
  margin-bottom: 80px !important;
}

.mb-90 {
  margin-bottom: 90px !important;
}

.mb-100 {
  margin-bottom: 100px !important;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}
.mt-7 {
  margin-top: 7em;
}

.mt-9 {
  margin-top: 9em;
}

.mr-6 {
  margin-right: 4em;
}

.py-80 {
  padding: 80px 0;
}

.w-55{
  width: 55%;
}

.w-40 {
  width: 40%;
}

.w-37 {
  width: 37%;
}

.w-35 {
  width: 35%;
  height: 100%;
}

.w-15 {
  width: 15%;
}

.h-75-px {
  height: 75px;
}

.max-width-40 {
  max-width: 40%;
  height: auto;
}

.b-17 {
  bottom: 17px;
  position: relative;
}

.line-height-1 {
  line-height: 1.3;
}

.zindex-1 {
  z-index: 1;
}

.rounded-lg {
  border-radius: 15px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-secondary {
  font-family: "Playfair Display", serif !important;
}

.font-tertiary {
  font-family: "BwNistaInt-xBd" !important;
}

.shadow {
  box-shadow: 0px 18px 39.1px 6.9px rgba(224, 241, 255, 0.34) !important;
}

.center {
  margin: 0 auto;
}


/* icon */
.icon {
  font-size: 45px;
}

.icon-bg {
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
}

.icon-light {
  color: #c8d5ef;
}

/* /icon */
/* slick slider */
.slick-dots {
  text-align: center;
  padding-left: 0;
}

.slick-dots li {
  display: inline-block;
  margin: 2px;
}

.slick-dots li.slick-active button {
  background: #fff;
  width: 25px;
}

.slick-dots li button {
  height: 6px;
  width: 12px;
  background: rgba(255, 255, 255, 0.5);
  color: transparent;
  border-radius: 10px;
  overflow: hidden;
  transition: .2s ease;
  border: 0;
}

/* /slick slider */
/* form */
.form-control {
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #c7c7c7;
  height: 60px;
}

.form-control:focus {
  border-color: #41228e;
  outline: 0;
  box-shadow: none !important;
}

textarea.form-control {
  height: 120px;
}

/* /form */
/* card */
.card {
  border: 0;
}

.card-header {
  border: 0;
}

.card-footer {
  border: 0;
}

/* /card */


.navigation.nav-bg {
  background-color: var(--secondary-color);
  padding: 15px 100px;
}

.nav-up {
  top: -250px;
  overflow: hidden;
}

.navbar .nav-item .nav-link {
  text-transform: uppercase;
  padding: 15px;
  font-weight: 500;
}

.navbar .nav-item.active {
  font-weight: bold;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.hero-area {
  padding: 150px 0 80px;
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 1;
  overflow: hidden;
}



.hero-area h1 {
  position: relative;
  z-index: 2;
}

.layer {
  position: absolute;
  z-index: 1;
}




#l1 {
  bottom: 0;
  left: 0;
}

#l2 {
  top: 190px;
  left: -250px;
  opacity: 0.3;
}

#l3 {
  top: 200px;
  left: 40%;
  opacity: 0.3;
}

#l4 {
  top: 200px;
  right: 40%;
  opacity: 0.3;
}

#l5 {
  top: 130px;
  right: -57px;
  opacity: 0.3;
}

#l6 {
  bottom: -20px;
  left: 10%;
  opacity: 0.3;
}

#l7 {
  top: 80%;
  left: 20%;
  opacity: 0.3;
}

#l8 {
  bottom: 220px;
  right: 35%;
  opacity: 0.3;
}

#l9 {
  bottom: 20%;
  right: -10px;
  opacity: 0.3;
}

.layer-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.6;
}

/* skills */
.progress-wrapper {
  height: 130px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
}

.wave::before, .wave::after {
  content: "";
  position: absolute;
  width: 800px;
  height: 800px;
  bottom: 0;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 45%;
  -webkit-transform: translateX(-50%) rotate(0);
          transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 6s linear infinite;
          animation: rotate 6s linear infinite;
  z-index: 10;
}

.wave::after {
  border-radius: 47%;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transform: translateX(-50%) rotate(0);
          transform: translateX(-50%) rotate(0);
  -webkit-animation: rotate 10s linear -5s infinite;
          animation: rotate 10s linear -5s infinite;
  z-index: 20;
}

@-webkit-keyframes rotate {
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
}

@keyframes rotate {
  50% {
    -webkit-transform: translateX(-50%) rotate(180deg);
            transform: translateX(-50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translateX(-50%) rotate(360deg);
            transform: translateX(-50%) rotate(360deg);
  }
}

/* /skills */
/* education */
.edu-bg-image {
  position: absolute;
  left: 0;
  top: -300px;
  z-index: -1;
}

/* /education */
/* service */
.hover-bg-primary {
  transition: .3s ease;
}

.hover-bg-primary:hover {
  background: #41228e;
}

.hover-bg-primary:hover * {
  color: #fff;
}

.active-bg-primary {
  transition: .3s ease;
  background: #222028;
}

.active-bg-primary * {
  color: #fff;
}

.hover-shadow {
  transition: .2s ease;
}

.hover-shadow:hover {
  box-shadow: 0px 18px 40px 8px rgba(224, 241, 255, 0.54) !important;
}

/* /service */
/* portfolio */
.hover-wrapper {
  overflow: hidden;
}

.hover-wrapper img {
  transition: .3s ease;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hover-wrapper:hover img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.hover-wrapper:hover .hover-overlay {
  opacity: 1;
  visibility: visible;
}

.hover-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: .3s ease;
}

.hover-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
}

/* /portfolio */
/* testimonial */
.testimonial-content strong {
  color: #2bfdff;
  font-weight: normal;
}

.testimonial-bg-shapes .container {
  position: relative;
  z-index: 1;
}

.testimonial-bg-shapes .bg-map {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.testimonial-bg-shapes .bg-shape-1 {
  position: absolute;
  left: 100px;
  top: -50px;
}

.testimonial-bg-shapes .bg-shape-2 {
  position: absolute;
  right: 150px;
  top: 50px;
}

.testimonial-bg-shapes .bg-shape-3 {
  position: absolute;
  right: 50px;
  top: 200px;
}

.testimonial-bg-shapes .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 200px;
}

.testimonial-bg-shapes .bg-shape-5 {
  position: absolute;
  right: 200px;
  bottom: -50px;
}

/* /testimonial */
/* footer */
.footer-section {
  padding-top: 200px;
}

.section-on-footer {
  margin-bottom: -250px;
}

.shadow-down {
  position: relative;
}

.shadow-down::before {
  position: absolute;
  content: "";
  box-shadow: 0px 0px 20px 2px rgba(33, 32, 40, 0.09);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

/* /footer */
.card-lg {
  flex-direction: row-reverse;
  align-items: center;
}



blockquote {
  display: inline-block;
  padding: 10px 20px;
  background: #eaeaea;
  border-left: 2px solid #41228e;
  font-style: italic;
  font-size: 22px;
}

.content * {
  margin-bottom: 20px;
}

.content strong {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: normal;
  color: #000;
  display: inherit;
  line-height: 1.5;
}

.page-title-alt {
  padding: 350px 0 70px;
}

.border-thick {
  border: 10px solid;
}

.drag-lg-top {
  margin-top: -230px;
}



.page-title-alt .container {
  position: relative;
  z-index: 1;
}

.page-title-alt .bg-shape-1 {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.page-title-alt .bg-shape-2 {
  position: absolute;
  left: 70px;
  top: 100px;
}

.page-title-alt .bg-shape-3 {
  position: absolute;
  left: 30%;
  top: 50px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-title-alt .bg-shape-4 {
  position: absolute;
  left: 100px;
  bottom: 100px;
}

.page-title-alt .bg-shape-5 {
  position: absolute;
  left: 40%;
  bottom: -25px;
}

.page-title-alt .bg-shape-6 {
  position: absolute;
  bottom: 100px;
  right: -100px;
}

.page-title {
  padding: 250px 0 150px;
}

.page-title .container {
  position: relative;
  z-index: 1;
}

.page-title .bg-shape-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.page-title .bg-shape-2 {
  position: absolute;
  left: -20px;
  top: -10px;
}

.page-title .bg-shape-3 {
  position: absolute;
  left: 10%;
  top: 100px;
}

.page-title .bg-shape-4 {
  position: absolute;
  left: 50%;
  top: -20px;
}

.page-title .bg-shape-5 {
  position: absolute;
  left: 90px;
  bottom: 180px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-title .bg-shape-6 {
  position: absolute;
  right: 20%;
  bottom: -20px;
}

.page-title .bg-shape-7 {
  position: absolute;
  right: -220px;
  bottom: -100px;
}

.filter-controls li {
  cursor: pointer;
}

.filter-controls li.active {
  font-weight: bold;
}


/*------ Tooltip Experiencia y educación -------*/

[data-tooltip] {
  position: relative;
  z-index: 10;
}
[data-tooltip]:before,
[data-tooltip]:after {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  bottom: calc(100% + 5px);
  pointer-events: none;
  transition: 0.2s;
  will-change: transform;
}
[data-tooltip]:before {
  content: attr(data-tooltip);
  padding: 20px 28px;
  min-width: 60px;
  max-width: 400px;
  width: max-content;
  width: -moz-max-content;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.5em;
  background-color: rgba(231, 231, 231, 0.932);
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.2);
  color: rgb(31, 31, 31);
  text-align: justify;
  white-space: pre-wrap;
  transform: translate(-50%, -5px) scale(0.5);
}
[data-tooltip]:after {
  content: '';
  border-style: solid;
  border-width: 5px 5px 0px 5px;
  border-color: rgba(55, 64, 70, 0.9) transparent transparent transparent;
  transition-duration: 0s; /* If the mouse leaves the element, 
                              the transition effects for the 
                              tooltip arrow are "turned off" */
  transform-origin: top;   /* Orientation setting for the
                              slide-down effect */
  transform: translateX(-50%) scaleY(0);
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
[data-tooltip]:hover:before {
  transition-delay: 0.3s;
  transform: translate(-50%, -5px) scale(1);
}
[data-tooltip]:hover:after {
  transition-delay: 0.5s; /* Starting after the grow effect */
  transition-duration: 0.2s;
  transform: translateX(-50%) scaleY(1);
}


/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
  left: calc(100% + 5px);
  bottom: 50%;
}

[data-tooltip-location="right"]:before {
  transform: translate(5px, 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
  transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
  border-width: 5px 5px 5px 0px;
  border-color: transparent rgba(231, 231, 231, 0.932);
  transform-origin: right;
  transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
  transform: translateY(50%) scaleX(1);
}

@media (max-width: 991px) {
  h1, .h1 {
    font-size: 65px;
  }
  h2, .h2 {
    font-size: 50px;
  }
  .navigation.nav-bg {
    padding: 15px 20px;
  }
  .navigation {
    padding: 20px;
    background: var(--secondary-color);
  }
  .drag-lg-top {
    margin-top: 0;
  }
  .card-lg {
    flex-direction: column;
  }
  #about-me {
    padding-top: 60% !important;
  }
}

@media (max-width: 871px) {
  #about-me {
    padding-top: 70% !important;
  }
}

@media (max-width: 767px) {
  .hero-area {
    padding: 160px 0 150px;
    overflow: hidden;
  }
  .title-portfolio {
    font-size: 25px;
    top: 5%;
  }
  .mt-30 {
    margin-top: 10px;
  }
  .fz-90 {
    font-size: 50px;
  }
  .fz-70 {
    font-size: 60px;
  }
}

@media (max-width: 650px) {
  header {
    padding: 10px 25px;
  }
  .font-tertiary.typewrite.text-yellow.fz-90 {
    height: 110px;
}
.hero-area {
  padding: 100px 0 70px;
  height: 100%;
}
.fz-70 {
  font-size: 40px;
}
.fz-90 {
  font-size: 40px;
}
.fz-95 {
  font-size: 65px;
}
.icon-smile {
  margin-left: 15px;
}
#l5 {
  top: 70px;
  right: -207px;
  opacity: 0.2;
}
#l7 {
  bottom: -70px;
  left: 40%;
  opacity: 0.2;
}
#l9 {
  bottom: 160px;
  right: -40px;
  opacity: 0.2;
}
#l8 {
  bottom: 130px;
  right: 36%;
  opacity: 0.2;
}
#l4 {
  opacity: 0.2;
}
.prin-logo {
  max-width: 130px;
}
}


@media (max-width: 575px) {
  .title-portfolio {
    font-size: 27px;
    padding: 14px;
    top: 4%;
  }
  .mt-30 {
    margin-top: 0;
  }
  .title-section-about {
    font-size: 40px;
  }
  .h-75 {
    height: 45px;
  }
  .fw-bold.text-yellow.fz-35 {
    line-height: 42px;
  }
}

@media (max-width: 489px) {
  .title-portfolio {
    font-size: 23px;
  }
  .h-75-px {
    height: 47px;
  }
}

@media (max-width: 435px) {
  .title-portfolio {
    font-size: 17px;
  }
}