:root {
    --seekr-color: #4E70F8;
    --cornflower-blue: #5FA8F2;
    --maya-blue: #70CDF7;
    --grey-chateau: #9CA3A7;
    --grey-iron: #CECFD0;
}
body {
    background-color: var(--seekr-color);
    overflow-x: hidden;
}
section {
    overflow: initial;
}
section.mt-17 {
    padding-top: 21em;
}
ul {
    padding-left: 0;
}

.overflow-initial {
    overflow: initial;
}

.text-grey {
    color: #606060 !important;
}
.line-height-1 {
    line-height: 1;
}
.header-seekr {
    background: var(--seekr-color);
}
.navbar .nav-item a.nav-link.btnCasos {
    border: 2px solid #ffffff80;
    border-radius: 5px;
    padding: 15px 33px;
}
.navbar .nav-item a.nav-link.btnCasos:hover {
    color: var(--seekr-color) !important;
    background: #fff;
    /* font-weight: 500; */
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(78, 112, 248);
    background: #fff;
    font-weight: 500 !important;
}
.bg-seekr {
    background: var(--seekr-color);
}
.container-breadcrumb {
    margin-top: 23px;
}
.breadcrumb {
    background-color: unset;
}
.breadcrumb-item + .breadcrumb-item {
    color: #fff;
    font-weight: lighter;
}
.breadcrumb-item + .breadcrumb-item::before {
    color: #fff;
}
.page-title {
    padding: 0 0 60px;
}
.container-desktop {
    position: absolute;
    bottom: -190px;
    left: -120px;
    top: 20px;
}
.container-desktop img {
    border: 0;
    max-width: 100%;
    height: auto;
    width: 850px;
}
.container-title-seekr {
    margin-left: 40px;
}
.container-title-seekr img {
    max-width: 100%;
    width: 110px;
    margin-bottom: 30px;
}
p.tag {
    margin-top: 40px;
    background: #fff6;
    width: 90px;
    text-align: center;
    padding: 2px;
    border-radius: 15px;
    color: #fff;
    font-size: 15px;
}
.container-buscador img {
    max-width: 100%;
    height: auto;
}
.container-tabs img {
    max-width: 100%;
    height: auto;
}
.container-img-research {
    position: absolute;
    left: -230px;
    top: 40px;
    z-index: 1;
}
.container-img-research img {
    border: 0;
    max-width: 100%;
    height: auto;
    width: 910px;
}
.container-img-wireframe {
    position: absolute;
    z-index: 1;
    top: 10em;
}
.container-img-wireframe img {
    border: 0;
    max-width: 100%;
    height: auto;
}
.list-bullet li.bullet-royal-blue::before {
    background-color: var(--seekr-color);
}
.list-bullet li.bullet-cornflower-blue::before {
    background-color: var(--cornflower-blue);
}
.list-bullet li.bullet-maya-blue::before {
    background-color: var(--maya-blue);
}
.list-bullet li.bullet-grey-chateau::before {
    background-color: var(--grey-chateau);
}
.list-bullet li.bullet-grey-iron::before {
    background-color: var(--grey-iron);
}
.list-bullet li {
    margin-bottom: 12px;
    padding-left: 15px;
}
.list-bullet > li, .list-check-circle > li, .list-check > li, .list.regular-list > li {
    position: relative;
}
.list-bullet li::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    position: absolute;
    left: -5px;
    top: 4px;
}
.container-journey-map img {
    border: 0;
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}
.wireframes {
    position: absolute;
    z-index: 3;
}
#w2 {
    top: 116em;
    right: -40em;
}
#w3 {
    left: -16em;
    top: 116em;
}
#w4 {
    right: -36em;
    bottom: 1em;
}
#w5 {
    left: -13em;
    bottom: 5em;
}
#w2.wireframes img, #w3.wireframes img, #w4.wireframes img, #w5.wireframes img {
    border: 0;
    height: auto;
    width: 75%;
}
.container-wireframes {
    height: 225em;
}
.img-solucion {
    width: 100%;
}


@media(max-width:1199px){
    .container-desktop{
        left: -260px;
    }
    .container-img-research {
        left: -340px;
    }
    .container-wireframes {
        height: 189em;
    }
    #w2.wireframes img, #w3.wireframes img, #w4.wireframes img, #w5.wireframes img {
        width: 65%;
    }
    #w2 {
        top: 94em;
        right: -45em;
    }
    #w3 {
        top: 94em;
    }
    #w4 {
        right: -41em;
    }
}

@media(max-width:991px){
    header {
        -webkit-box-shadow: 0px 3px 22px -3px rgb(66, 99, 234);
        -moz-box-shadow: 0px 3px 22px -3px rgb(66, 99, 234);
        box-shadow: 0px 3px 22px -3px rgb(66, 99, 234);
    }
    section.mt-17 {
        padding-top: 60px;
    }
    .container-desktop img {
        width: 780px;
    }
    .container-desktop {
        left: -320px;
    }
    .navbar-brand, .nav-link, .navbar {
        padding: 0;
    }
    .mt-7 {
        margin-top: 3em;
    }
    .mt-9 {
        margin-top: 5em;
    }
    .container-img-research {
        left: -270px;
    }
    .container-img-research img {
        width: 650px;
    }
    .container-wireframes {
        height: 143em;
    }
    #w2 {
        top: 65em;
        transform: translateX(24em);
        right: 0;
    }
    #w3 {
        top: 65em;
        left: 0;
        right: 0;
        transform: translateX(-13em);
    }
    #w4 {
        right: 0;
        transform: translateX(-13em);
        bottom: 8em;
    }
    #w5 {
        left: 0;
        bottom: 5em;
        transform: translateX(24em);
    }
    #w2.wireframes img, #w3.wireframes img, #w4.wireframes img, #w5.wireframes img {
        width: 80%;
    }
}

@media(max-width:767px){
    .container-desktop {
        left: 0;
        opacity: .1;
    }
    .container-title-seekr {
        margin: 20px 0 0 0;
    }
    .mt-9 {
        margin-top: 1em;
    }
    .container-buscador img {
        margin-top: 3em;
    }
    .pl-40 {
        display: initial;
    }
    .pb-50 {
        padding-bottom: 15em;
    }
    .container-img-research {
        left: 0;
        top: 360px;
    }
    .container-img-research img {
        width: auto;
    }
    section.mt-17 {
        padding-top: 13em;
    }
    .h-100-px {
        height: 50px !important;
    }
    .container-wireframes {
        height: 176em;
    }
    #w2.wireframes img, #w3.wireframes img, #w4.wireframes img, #w5.wireframes img {
        width: 100%;
        height: auto;
        border: 0;
    }
    #w2 {
        top: 88em;
        transform: translateX(0);
    }
    #w3 {
        top: 43em;
        transform: translateX(0);
    }
    #w4 {
        bottom: 19em;
        transform: translateX(0);
    }
    #w5 {
        bottom: 0em;
        transform: translateX(0);
    }
}

@media(max-width:437px){
    .container-desktop {
        left: -160px;
        right: 40px;
        top: 50px;
    }
    .container-desktop img {
        width: 513px;
    }
    .page-title {
        padding: 0 0 30px;
    }
    
    .container-buscador img {
        margin-top: 0em;
    }
    section.mt-17 {
    padding-top: 10em;
    }
    .mt-6 {
        margin-top: 2em;
    }
    .container-img-wireframe {
        top: 13em;
    }
    .container-wireframes {
        height: 136em;
    }
    #w2 {
        top: 66em;
    }
    #w3 {
        top: 30em;
    }
    #w4 {
        bottom: 15em;
    }
    #w5 {
        bottom: 0;
    }
}

@media(max-width:375px){
    .pt-5 {
        padding-top: initial;
    }
    .container-img-research {
        top: 28em;
    }
    .h-100-px {
        height: 110px !important;
    }
    .container-img-research {
        top: 410px;
    }
    section.mt-17 {
        padding-top: 5em;
    }
    #w3 {
        top: 22em;
    }
    #w2 {
        top: 53em;
    }
    #w4 {
        bottom: 13em;
    }
    .container-wireframes {
        height: 114em;
    }
}